<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <style></style>
    <script type="text/javascript" src="static/func.js"></script>
  </head>

  <body onload="get_sessions()">
    <h1>LiLyGo Watch Database</h1>
    <div class="setup">
      <div class="box">
        Select a session:

        <br>
      <select name="time" id="time" onchange="update()" group size="10">
        <option value="empty" selected>empty</option>
      </select>


    </div>
    <div class="box">Parameters
    <br>
    <p id="km">-</p>
    <p id="step">-</p>
    <p id="kcal">-</p>
    </div>

    <copyr>
      &copy; 2022 Cristian Sulighetean, Gabor Pelesz, Oliver Lagerroos, Simon Nordström. All rights reserved.
    </copyr>
  </body>
</html>







